.cart-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: white;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: 20px;    

}
.item img{
    height: 60px;
    width: 80px;
}
.item{
    margin: 0px 15px;
    text-align: center;
}
.item a:hover{
    color: blue;
    cursor: pointer;
}